.pokemonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 75px;
  }
  
  .pokedex {
    display: flex;
    flex-direction: row;
    background-color: bisque;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  .pokedex .info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
  }
  
  .buttonContainer {
    background-color: red;
    border: solid;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  .pokedex img {
    max-width: 200%;
    max-height: 200%;
    margin-left: 0px;
    margin-top: 20px;
    display: block;
    transition: transform 0.2s ease-in-out;
  }
  
  .pokedex:hover img {
    transform: scale(1.5);
  }
  
  .modelContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modelImage {
    max-height: 80%;
    max-width: 80%;
  }
  
  .pokedex p {
    margin-left: 40px;
    font-weight: 900;
    font-size: 10px;
    color: aliceblue;
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 00 #000, 0 1px #000, 2px 0 #000, 0 -2px #000;
  }
  
  
  .modelPokemonInfo p1 {
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: 900;
    font-size: 20px;
  
  }
  
  .modelPokemonInfo p2 {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
  }